* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    cursor: url("resources/pandacursormain.png"), auto;
}

@font-face {
    font-family: "baloku";
    src: url("resources/fonts/balonku-font/BalonkuRegular-la1w.otf");
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-box-container {
    position: absolute;
}

.gift-box {
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 0;
}

.gift-cap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}

.gifts {
    width: 270px;
    position: absolute;
}

.jhumka {
    top: 5px;
    left: 5px;
}

.bracelet {
    top: 50px;
    left: 200px;
}

.pandaLight {
    top: 200px;
    left: 10px;
}

.teddy {
    top: 165px;
    left: 200px;
}

.chololates {
    top: 280px;
    left: 120px;
}

img {
    width: 500px;
}

.btn-container {
    position: absolute;
    z-index: 11;
}

.teddy-animation {
    animation: teddy 1.2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 4.9s;
}

.jhumka-animation {
    animation: jhumka 1.2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3.9s;
}

.bracelet-animation {
    animation: bracelet 1.2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 4.3s;
}

.chololates-animation {
    animation: chololates 1.2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3.4s;
}

.pandaLight-animation {
    animation: pandaLight 1.2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 5.5s;
}


.btn {
    padding-block: 15px;
    padding-inline: 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 122, 144);
    font-size: 20px;
    cursor: url("resources/pandacursor.png"), auto;
    text-decoration: none;
    font-family: "baloku";
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.2);
}


.open-box {
    animation: box-cap 1.5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.next-btn {
    display: none;
}

.hide {
    animation: hide 0.6s ease-in-out;
    animation-fill-mode: forwards;
}

.appear {
    animation: appear 0.6s ease-in-out;
    animation-fill-mode: forwards;
}

/* animations */

@keyframes box-cap {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(500px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes jhumka {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(0px, -220px);
    }
}

@keyframes teddy {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(0px, 180px);
    }
}

@keyframes bracelet {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(50px, -200px);
    }
}

@keyframes pandaLight {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(-100px, 170px);
    }
}

@keyframes chololates {
    from {
        transform: translate(0px);
    }

    to {
        transform: translate(-450px, -250px);
    }
}